<div class="container">
  <h1>URL Shortener</h1>

  <form action="/urls" method="post">
    <p>Enter the full URL here:</p>
    <p><input type="text" name="long_url"></p>
    <input type="submit" value="Enter">
  </form>

</div>
